//-----------------------------------------------------------------------
// _footer.scss
//-----------------------------------------------------------------------
@use '../foundation/base'as b;

.l-footer {
    position: relative;
    padding: 40px 0 20px;
    background-color: black;

    @include b.section_deco_top('../img/black_top.svg');

    @include b.mq(pc) {
        padding: 40px 0 40px;
    }

    &__inner {
        @include b.mq(pc) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__sns {
        display: flex;
        align-items: center;
    }

    &__copy {
        margin: 30px 0 44px;
        font-size: b.p2r(11);
        line-height: (14 / 11);
        letter-spacing: 0.05em;
        text-align: center;

        @include b.mq(pc) {
            margin: 0;
            font-size: b.p2r(14);
            line-height: 1;
        }
    }

    &__btn {
        width: 100%;
        text-align: center;

        @include b.mq(pc) {
            display: none;
        }
    }
}