//-----------------------------------------------------------------------
// _header.scss
//-----------------------------------------------------------------------
@use '../foundation/base'as b;

.l-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: b.p2r(13);
    font-weight: bold;
    line-height: (14 / 13);
    z-index: 1;

    @include b.mq(pc) {
        font-size: b.p2r(16);
        line-height: 1;
        letter-spacing: 0.1em;
    }

    &__bar {
        background-image: linear-gradient(black 0%, rgb(0 0 0 / .62) 69%, rgb(0 0 0 / 0) 100%);

        &__inner {
            padding: 23px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include b.mq(pc) {
                padding: 28px 0;
            }
        }
    }

    &__heading {
        width: 120px;

        @include b.mq(pc) {
            width: 172px;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        column-gap: 20px;
        color: var(--color-turquoise);

        &__item {
            position: relative;
            line-height: 1;

            &:not(:last-child)::before {
                position: absolute;
                content: '';
                inset: -7px;
                border: 1px solid var(--color-turquoise);
                transform: scaleX(0);
                opacity: 0;
                transition: transform 0.3s ease-out, opacity 0.3s ease-out;
            }

            &:not(:last-child):hover {
                &::before {
                    transform: scaleX(1);
                    opacity: 1;
                }
            }
        }
    }

    &__btn {
        display: none;
        padding: 15px 40px;
        font-size: b.p2r(15);

        @include b.mq(pc) {
            display: block;
        }
    }

    &__soundButton {
        $this: &;

        display: block;
        display: flex;
        align-items: center;
        margin-top: 6px;
        margin-left: auto;
        margin-right: 0;
        color: var(--color-gray);

        @include b.mq(pc) {
            margin-top: -6px;
            font-size: b.p2r(13);
            line-height: (16 / 13);
        }

        &::after {
            display: block;
            content: '';
            margin-left: 6px;
            width: 15px;
            height: 15px;
            background-color: var(--color-gray);
            mask-image: url(../img/sound.png);
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: center;
        }

        &__captionOn {
            display: none;
        }

        &--on {
            color: white;

            &::after {
                background-color: white;
            }

            #{$this}__captionOn {
                display: inline;
            }

            #{$this}__captionOff {
                display: none;
            }
        }
    }
}