//-----------------------------------------------------------------------
// _header.scss
//-----------------------------------------------------------------------
@use '../foundation/base'as b;

.l-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: b.p2r(13);
    font-weight: bold;
    line-height: (14 / 13);
    z-index: 1;

    &__bar {
        padding-top: 23px;
        padding-bottom: 23px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: linear-gradient(black 0%, rgb(0 0 0 / .62) 69%, rgb(0 0 0 / 0) 100%);
    }

    &__heading {
        width: 120px;
    }

    &__list {
        display: flex;
        column-gap: 20px;
        color: var(--color-turquoise);
    }

    &__soundButton {
        $this: &;

        display: block;
        display: flex;
        align-items: center;
        margin-top: 6px;
        margin-left: auto;
        margin-right: 0;
        color: var(--color-gray);

        &::after {
            display: block;
            content: '';
            margin-left: 6px;
            width: 15px;
            height: 15px;
            background-color: var(--color-gray);
            mask-image: url(../img/sound.png);
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: center;
        }

        &__captionOn {
            display: none;
        }

        &--on {
            color: white;

            &::after {
                background-color: white;
            }

            #{$this}__captionOn {
                display: inline;
            }
    
            #{$this}__captionOff {
                display: none;
            }
        }
    }
}