//-----------------------------------------------------------------------
// _story.scss
//-----------------------------------------------------------------------
@use '../../foundation/base'as b;

.p-story {
    position: relative;
    padding: 50px 0;
    background-image: url(../img/bg_story.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include b.section_deco_top('../img/black_top.svg');
    @include b.section_deco_bottom('../img/black_bottom.svg');

    @include b.mq(pc) {
        padding: 140px 0;
    }

    &__flex {
        @include b.mq(pc) {
            display: flex;
            justify-content: space-between;

            &+& {
                margin-top: 90px;
            }

            &:nth-child(even) {
                flex-direction: row-reverse;
            }
        }
    }

    &__ctn {
        @include b.mq(pc) {
            margin-top: 18px;
            width: 53%;

            &--alignCenter {
                margin-top: 0;
                align-self: center;
            }
        }

        &__subHeading {
            margin-top: 60px;
            font-size: b.p2r(24);
            font-weight: 900;
            line-height: (32 / 24);
            letter-spacing: 0.05em;

            &:not(:first-child) {
                margin-top: 45px;

                @include b.mq(pc) {
                    margin-top: 70px;
                }
            }

            @include b.mq(pc) {
                margin-top: 0;
                font-size: b.p2r(32);
                line-height: (48 / 32);

            }
        }

        &__text {
            margin-top: 20px;
            font-size: b.p2r(15);
            line-height: (27 / 15);
            letter-spacing: 0.05em;

            @include b.mq(pc) {
                margin-top: 30px;
                font-size: b.p2r(16);
            }
        }
    }

    &__imgCtn {
        margin-top: 30px;
        width: 90%;
        box-shadow: 7px 7px 0 var(--color-turquoise);
        transform-origin: bottom;
        transform: skew(-5deg);

        @include b.mq(pc) {
            margin-top: 0;
            width: 40%;
        }
    }
}