//-----------------------------------------------------------------------
// _button.scss
//-----------------------------------------------------------------------
@use '../../foundation/base'as b;

.c-playBtn {
    display: block;
    width: fit-content;
    padding: 20px 41px;
    padding-right: calc(41px - 0.05em);
    background-color: var(--color-turquoise);
    font-weight: 700;
    letter-spacing: 0.05em;
    color: black;

    @include b.mq(pc) {
        padding: 20px 65px;
        padding-right: calc(65px - 0.05em);
        font-size: b.p2r(18);
        line-height: 20px;
    }

    &:hover {
        color: white;
        box-shadow: 0 0 10px white;
        text-shadow: 0 0 10px white;
    }
}