//-----------------------------------------------------------------------
// _heading.scss
//-----------------------------------------------------------------------
@use '../../foundation/base'as b;

.c-sectionHeading {
    position: relative;
    font-size: b.p2r(50);
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--color-turquoise);

    @include b.mq(pc) {
        font-size: b.p2r(80);
    }

    &::after {
        position: absolute;
        display: block;
        content: '';
        bottom: -18px;
        left: 0;
        height: 6px;
        width: 60px;
        background-color: var(--color-turquoise);

        @include b.mq(pc) {
            bottom: -30px;
            height: 8px;
            width: 80px;
        }
    }
}